extend layout/header.pug
block content
    .container
        .row.pt-4
            .col-md-4.text-center.d-flex.justify-content-center.align-items-center.flex-column
                .text-hex.h2.align-middle
                    .line-group
                        span x
                        .line
                        span x
                    .banner.d-flex.justify-content-center.align-items-center.flex-column
                        .h2 九九乘法表
                        br
                        .h4 MULTIPLICATION CHART
                    .line-group
                        span x
                        .line
                        span x
            .col-md-4.py-2
                .multBox
                    .row
                        .col-md-6
                            .number-title.text-hex.d-flex.justify-content-center.align-items-center.pl-md-3 2
                            .number-mult-1.text-hex.h4.text-center
                        .col-md-6.py-md-4
                            .number-mult-2.text-hex.h4.text-center
            .col-md-4.py-2
                .multBox
                    .row
                        .col-md-6
                            .number-title.text-hex.d-flex.justify-content-center.align-items-center.pl-md-3 3
                            .number-mult-1.text-hex.h4.text-center
                        .col-md-6.py-md-4
                            .number-mult-2.text-hex.h4.text-center
        .row.pt-3
            .col-md-4.py-2
                .multBox
                    .row
                        .col-md-6
                            .number-title.text-hex.d-flex.justify-content-center.align-items-center.pl-md-3 4
                            .number-mult-1.text-hex.h4.text-center
                        .col-md-6.py-md-4
                            .number-mult-2.text-hex.h4.text-center
            .col-md-4.py-2
                .multBox
                    .row
                        .col-md-6
                            .number-title.text-hex.d-flex.justify-content-center.align-items-center.pl-md-3 5
                            .number-mult-1.text-hex.h4.text-center
                        .col-md-6.py-md-4
                            .number-mult-2.text-hex.h4.text-center
            .col-md-4.py-2
                .multBox
                    .row
                        .col-md-6
                            .number-title.text-hex.d-flex.justify-content-center.align-items-center.pl-md-3 6
                            .number-mult-1.text-hex.h4.text-center
                        .col-md-6.py-md-4
                            .number-mult-2.text-hex.h4.text-center
        .row.pt-3
            .col-md-4.py-2
                .multBox
                    .row
                        .col-md-6
                            .number-title.text-hex.d-flex.justify-content-center.align-items-center.pl-md-3 7
                            .number-mult-1.text-hex.h4.text-center
                        .col-md-6.py-md-4
                            .number-mult-2.text-hex.h4.text-center
            .col-md-4.py-2
                .multBox
                    .row
                        .col-md-6
                            .number-title.text-hex.d-flex.justify-content-center.align-items-center.pl-md-3 8
                            .number-mult-1.text-hex.h4.text-center
                        .col-md-6.py-md-4
                            .number-mult-2.text-hex.h4.text-center
            .col-md-4.py-2
                .multBox
                    .row
                        .col-md-6
                            .number-title.text-hex.d-flex.justify-content-center.align-items-center.pl-md-3 9
                            .number-mult-1.text-hex.h4.text-center
                        .col-md-6.py-md-4
                            .number-mult-2.text-hex.h4.text-center
    footer.footer.mt-5.text-right.py-1.pr-6
        | Copyright © 2019 HexSchool. All rights reserved.
    script(src="./js/all.js")